---
import Dragon from "./icons/Dragon.astro";
---

<a href="/" class="pointer-events-auto flex items-center group">
  <Dragon className="h-7 w-7 transition duration-200 ease-linear -rotate-12 group-hover:rotate-12" />
  <span class="font-bold text-lg p-2"> Philip Balbas</span>
</a>
