---
import Dragon from "./icons/Dragon.astro";
---

<a href="/" class="pointer-events-auto flex items-center group">
  <Dragon
    className="h-5 w-5 transition duration-200 ease-linear -rotate-12 group-hover:rotate-12 text-green-700"
    primaryClass="dark:fill-white"
    secondaryClass="fill-amber-500 dark:fill-indigo-400"
  />
  <span class="font-bold text-md p-2 dark:text-white">balbas.io</span>
</a>
