---
import clsx from "clsx";

interface Props {
  href: string;
}

const { href } = Astro.props as Props;
const isActive = Astro.url.pathname === href;
---

<li>
  <a
    href={href}
    class={clsx(
      "relative block px-3 py-2 transition",
      isActive ? "text-amber-500" : "hover:text-amber-500 dark:hover:text-amber-400"
    )}
  >
    <slot />
    {
      isActive && (
        <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-amber-500/0 via-amber-500/40 to-amber-500/0 dark:from-amber-400/0 dark:via-amber-400/40 dark:to-amber-400/0" />
      )
    }
  </a>
</li>
