---
import Image from "@astrojs/image/components/Image.astro";

const resume = [
  {
    company: "Jar",
    title: "Software Engineer",
    logo: "/images/jar.jpg",
    start: "2021",
    end: "2022",
  },
  {
    company: "Whitehead AI",
    title: "Software Engineer",
    logo: "/images/whitehead.jpg",
    start: "2019",
    end: "2021",
  },
  {
    company: "Upwork",
    title: "Freelance Software Developer",
    logo: "/images/upwork.jpg",
    start: "2017",
    end: "present",
  },
  {
    company: "PDAX",
    title: "Frontend Developer",
    logo: "/images/pdax.jpg",
    start: "2022",
    end: "2022",
  },
  {
    company: "Medgrocer",
    title: "Frontend Developer",
    logo: "/images/medgrocer.jpg",
    start: "2022",
    end: "2022",
  },
];
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900">
    <span class="ml-3">Work</span>
  </h2>
  <ol class="mt-6 space-y-4">
    {
      resume.map((role, i) => (
        <li class="flex gap-4">
          <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
            <Image src={role.logo} />
          </div>
          <dl class="flex flex-auto flex-wrap gap-x-2">
            <dt class="sr-only">Company</dt>
            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">{role.company}</dd>
          </dl>
        </li>
      ))
    }
  </ol>
</div>
